<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <connectionStrings>
    <add name="My_ConnectionString" connectionString="Data Source=SERVIDOR;Initial Catalog=BD;Persist Security Info=True;User ID=USUARIO;Password=CONTRASEÑA" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="connectionString" value="Data Source=SERVIDOR;Initial Catalog=BASEDATA;Persist Security Info=True;User ID=USUARIO;Password=CONTRASEÑA"/>
    <!-- <add key="connectionString" value="Data Source=SERVIDOR;Initial Catalog=BASEDATA;Integrated Security=True"/> -->   
    <add key="My_SecurityKey" value="ClaveParaGenerarContraseña"/>
  </appSettings>
</configuration>